<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conference</title>
    <!-- ICONSCOUT CDN -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    />
    <!-- STYLESHEET -->
    <!-- <link rel="stylesheet" href="./styles/profile.css" /> -->

    <link rel="stylesheet" href="../styles/profile.css" />
    <link rel="stylesheet" href="../styles/style.css" />

  </head>

  <body>
    <nav>
      <div class="container">
        <h2 class="logo">Conference</h2>
        <div class="search-bar">
          <i class="uil uil-search"></i>
          <input
            type="search"
            placeholder="Search for creators, inspiration and projects"
          />
        </div>
        <div class="create">
          <label for="create-post" class="btn btn-primary">Create</label>
          <div class="profile-photo">
            <img
              src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455_1280.jpg"
            />
          </div>
        </div>
      </div>
    </nav>
    <!-- MAIN -->
    <main>

      <div class="container">
        <!-- LEFT -->
        <div class="left">
          <a href="/{{UserDetails.UserID}}" class="profile">
            <div class="profile-photo">
              <img
                src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455_1280.jpg"
              />
            </div>
            <div class="handle">
              <h4>{{UserDetails.UserName}}</h4>
              <p class="text-muted">@{{UserDetails.UserName}}</p>
            </div>
          </a>
          <!-- SIDEBAR -->
          <div class="sidebar">
            <a href="/" class="menu-item active"><span><i
                  class="uil uil-home"
                ></i></span>
              <h3>Home</h3>
            </a>
            <a href="/search" class="menu-item"><span><i
                  class="uil uil-compass"
                ></i></span>
              <h3>SEARCH</h3>
            </a>
            <a href="#" class="menu-item" id="notifications"><span><i
                  class="uil uil-bell"
                ><small class="notification-count"></small></i></span>
              <h3>Notifications</h3>
            </a>
            <a
              href="/message"
              class="menu-item"
              id="messages-notification"
            ><span><i class="uil uil-envelope-alt"><small
                    class="notification-count"
                  ></small></i></span>
              <h3>Messages</h3>
            </a>
            <a href="#" class="menu-item"><span><i
                  class="uil uil-bookmark"
                ></i></span>
              <h3>Bookmarks</h3>
            </a>
            <a href="#" class="menu-item"><span><i
                  class="uil uil-chart-line"
                ></i></span>
              <h3>Analytics</h3>
            </a>
            <a href="#" class="menu-item" id="theme"><span><i
                  class="uil uil-palette"
                ></i></span>
              <h3>Theme</h3>
            </a>
            <a href="#" class="menu-item"><span><i
                  class="uil uil-setting"
                ></i></span>
              <h3>Settings</h3>
            </a>
          </div>
          <!-- END OF SIDEBAR -->
          <label for="create-post" class="btn btn-primary">Create Post</label>
        </div>
        <!-- END OF LEFT -->
        <!-- MIDDLE -->
        <div class="middle">
          <div class="IDprofile">
            <div class="profile-image">
              <img id="dp"
                src="https://cdn.pixabay.com/photo/2017/02/08/17/24/fantasy-2049567_1280.jpg"
                alt=""
              />
            </div>
            <div class="form-only">
                <form class="create-post" id="chat_form">
                  <input
                    id="UserName"
                    placeholder="Enter Name"
                    value="{{UserDetails.UserName}}"
                  />
                </form>
           
              <form class="create-post" id="chat_form">
                <textarea
                style="height: 70px;"
                id="UserBio"
                placeholder="Enter Bio"
              >{{UserDetails.UserBio}}</textarea>
                
              </form>
              <hr>
              <br>
                <input
                  type="submit"
                  id="profile-submit-btn"
                  value="Save"
                  class="btn btn-primary"
                  onclick="editProfile('{{UserDetails.UserID}}')"
                />
            </div>
            
          </div>
          <p class="text-muted" style="text-align: center;">Profile Photos</p>
          <div class="photos" id="photos">
            <div>
              <img src="https://cdn.pixabay.com/photo/2023/10/20/19/25/moon-8330104_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
            <div>
              <img src="https://cdn.pixabay.com/photo/2023/06/28/08/13/public-speaking-8093767_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
            <div>
              <img src="https://cdn.pixabay.com/photo/2023/07/04/19/43/man-8106958_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
            <div>
              <img src="https://cdn.pixabay.com/photo/2023/04/12/21/52/mountain-7921253_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
            <div>
              <img src="https://cdn.pixabay.com/photo/2023/06/28/10/53/world-8094131_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
            <div>
              <img src="https://cdn.pixabay.com/photo/2023/06/13/15/05/astronaut-8061095_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
            <div>
              <img src="https://cdn.pixabay.com/photo/2022/08/12/18/28/woman-7382243_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
            <div>
              <img src="https://cdn.pixabay.com/photo/2023/01/28/06/57/man-7750139_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
            <div>
              <img src="https://cdn.pixabay.com/photo/2022/08/26/13/15/man-7412527_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
            <div>
              <img src="https://cdn.pixabay.com/photo/2022/07/08/10/37/books-7309019_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
            <div>
              <img src="https://cdn.pixabay.com/photo/2016/09/16/19/12/atom-1674878_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
            <div>
              <img src="https://cdn.pixabay.com/photo/2022/02/26/18/16/peace-7036144_640.png" alt="" onclick="document.getElementById('dp').src = `${this.src}`">
            </div>
          </div>
          
        </div>
        <!-- END OF MIDDLE -->
        <!-- RIGHT -->
        <div class="right">
          <!-- MESSAGES -->
          <div class="messages">
            <div class="heading">
              <h4>Messages</h4>
              <i class="uil uil-edit"></i>
            </div>
            <!-- SEARCH BAR -->
            <div class="search-bar">
              <i class="uil uil-search"></i>
              <input
                type="search"
                id="message-search"
                placeholder="Search messages"
              />
            </div>
            <!-- MESSAGES CATEGORY -->
            <div class="category">
              <h6 class="active">Primary</h6>
              <h6>General</h6>
              <h6 class="message-requests">Requests{3}</h6>
            </div>
            <!-- MESSAGE -->
            <div class="message">
              <div class="profile-photo">
                <img
                  src="https://cdn.pixabay.com/photo/2023/11/19/14/10/hangzhou-8398789_640.jpg"
                />
              </div>
              <div class="message-body">
                <h5>Eden Quist</h5>
                <p class="text-muted">Just woke up, bruh</p>
              </div>
            </div>
            <div class="message">
              <div class="profile-photo">
                <img
                  src="https://cdn.pixabay.com/photo/2023/03/06/06/40/backpack-7832746_640.jpg"
                />
                <div class="active"></div>
              </div>
              <div class="message-body">
                <h5>Lana Rose</h5>
                <p class="text-bold">Well received! Thanks</p>
              </div>
            </div>
            <div class="message">
              <div class="profile-photo">
                <img
                  src="https://cdn.pixabay.com/photo/2023/09/29/07/58/mango-8283268_640.jpg"
                />
              </div>
              <div class="message-body">
                <h5>John Doe</h5>
                <p class="text-muted">Ok</p>
              </div>
            </div>
            <div class="message">
              <div class="profile-photo">
                <img
                  src="https://cdn.pixabay.com/photo/2024/01/07/14/12/man-8493244_640.jpg"
                />
                <div class="active"></div>
              </div>
              <div class="message-body">
                <h5>Daniela Jackson</h5>
                <p class="text-muted">2 new messages</p>
              </div>
            </div>
            <div class="message">
              <div class="profile-photo">
                <img
                  src="https://cdn.pixabay.com/photo/2023/09/10/11/44/tulip-8244705_640.jpg"
                />
              </div>
              <div class="message-body">
                <h5>Juliet Makarey</h5>
                <p class="text-muted">Lol, u right</p>
              </div>
            </div>
            <div class="message">
              <div class="profile-photo">
                <img
                  src="https://cdn.pixabay.com/photo/2023/12/15/15/52/bird-8450958_640.png"
                />
                <div class="active"></div>
              </div>
              <div class="message-body">
                <h5>Chantal Msiza</h5>
                <p class="text-bold">Birthday tomorrow!</p>
              </div>
            </div>
          </div>
          <!-- END OF MESSAGES -->
          <!-- FRIEND REQUSTS -->
          <div class="friend-requests">
            <h4>Requests</h4>
            <div class="request">
              <div class="info">
                <div class="profile-photo">
                  <img
                    src="https://cdn.pixabay.com/photo/2023/03/29/19/32/man-7886201_640.jpg"
                  />
                </div>
                <div>
                  <h5>Hajia Bintu</h5>
                  <p class="text-muted">8 mutual friends</p>
                </div>
              </div>
              <div class="action">
                <button class="btn btn-primary">Accept</button>
                <button class="btn">Decline</button>
              </div>
            </div>
            <div class="request">
              <div class="info">
                <div class="profile-photo">
                  <img
                    src="https://cdn.pixabay.com/photo/2023/12/02/11/21/winter-8425500_640.jpg"
                  />
                </div>
                <div>
                  <h5>Jacqueline Mensah</h5>
                  <p class="text-muted">1 mutual friend</p>
                </div>
              </div>
              <div class="action">
                <button class="btn btn-primary">Accept</button>
                <button class="btn">Decline</button>
              </div>
            </div>
            <div class="request">
              <div class="info">
                <div class="profile-photo">
                  <img
                    src="https://cdn.pixabay.com/photo/2023/06/10/14/48/giraffe-8054174_640.jpg"
                  />
                </div>
                <div>
                  <h5>Sarah King</h5>
                  <p class="text-muted">5 mutual friends</p>
                </div>
              </div>
              <div class="action">
                <button class="btn btn-primary">Accept</button>
                <button class="btn">Decline</button>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF RIGHT -->
        <!-- THEME CUSTOMIZATION -->
        <div class="customize-theme">
          <div class="card">
            <h2>Customize your view</h2>
            <p class="text-muted">
              Manage your font size, color and background
            </p>
            <!-- FONT SIZES -->
            <div class="font-size">
              <h4>Font Size</h4>
              <div>
                <h6>Aa</h6>
                <div class="choose-size">
                  <span class="font-size-1"></span>
                  <span class="font-size-2 active"></span>
                  <span class="font-size-3"></span>
                  <span class="font-size-4"></span>
                  <span class="font-size-5"></span>
                </div>
                <h3>Aa</h3>
              </div>
            </div>
            <!-- PRIMARY COLORS -->
            <div class="color">
              <h4>Color</h4>
              <div class="choose-color">
                <span class="color-1 active"></span>
                <span class="color-2"></span>
                <span class="color-3"></span>
                <span class="color-4"></span>
                <span class="color-5"></span>
              </div>
            </div>
            <!-- BACKGROUND COLORS -->
            <div class="background">
              <h4>Bacground</h4>
              <div class="choose-bg">
                <div class="bg-1 active">
                  <span></span>
                  <h5 for="bg-1">Light</h5>
                </div>
                <div class="bg-2">
                  <span></span>
                  <h5>Dim</h5>
                </div>
                <div class="bg-3">
                  <span></span>
                  <h5 for="bg-3">Lights out</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF THEME CUSTOMIZATION -->
      </div>
    </main>
  </body>
</html>
<script src="../scripts/index.js"></script>

<script>

const textarea = document.querySelector("#UserBio");
  textarea.addEventListener("input", autoResize, false);

  function autoResize() {
    this.style.height = "auto";
    this.style.height = this.scrollHeight + "px";
  }
async function editProfile(ID){
    let UserName = document.getElementById("UserName").value
    let UserBio = document.getElementById("UserBio").value
    if(!UserName){
      alert("Enter correct Username")
    }
    if(!UserBio){
      alert("Enter correct UserBio")
    }
    if(UserName && UserBio){
      let dp = document.getElementById("dp").src
      let obj = {UserName, UserBio, dp}
      console.log(obj)

      const fetched = await fetch(`/profileEdit/${ID}`, {
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${localStorage.getItem("token") ||sessionStorage.getItem("token") ||""}`,
        },
        method: "PUT",
        body: JSON.stringify(obj),
      });
      if(fetched.ok){
        window.location.href = `/${ID}`
      }
    }
  }

</script>
<!-- <script src="./scripts/main.js"></script> -->